<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{{ siteTitle }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>{{{ static.css }}}</style>
    <script>{{{ static.js }}}</script>
  </head>
  <body>
    <main>
      <h1 class="site-title">EMDR Clicker</h1>
      <div id="visualizer" class="visualizer" aria-hidden="true">
        <svg viewBox="0 0 300 100" xmlns="http://www.w3.org/2000/svg">
          <circle cx="20" cy="50" r="10" class="splash left" transform-origin="20 50" />
          <circle cx="280" cy="50" r="10" class="splash right" transform-origin="280 50" />
          <circle cx="20" cy="50" r="10" class="direction-indicator left" />
          <circle cx="280" cy="50" r="10" class="direction-indicator right" />
          <circle cx="20" cy="50" r="7" class="sound-tracker" />
        </svg>
      </div>
      <button id="playButton" class="play-button">
        <span class="icon material-icons reset" aria-hidden="true">
          play_circle_filled
        </span>
        Play
      </button>
      <div class="settings-button-container">
        <button id="settingsButton" class="settings-button">
          <span class="icon material-icons reset" aria-hidden="true">
            settings
          </span>
          Settings
        </button>
      </div>
      <div class="site-info">
        <p class="main-info reset">
          Provides stereo clicking for
          <a
              href="https://en.wikipedia.org/wiki/Eye_movement_desensitization_and_reprocessing"
              target="_blank"
              rel="noopener">
            EMDR therapy</a>.
        </p>
        <p class="code-link reset">
          Source Code:
          <a
              href="https://github.com/ava-cassiopeia/emdr-clicker"
              target="_blank"
              rel="noopener">
            @ava-cassiopeia/emdr-clicker
          </a>
        </p>
        <p class="author-note reset">
          Made with <span aria-label="love">💜</span> by Ava
        </p>
      </div>
    </main>
    <dialog id="settingsDialog" class="settings-dialog">
      <div class="underlay" aria-hidden="true"></div>
      <form method="dialog" class="dialog-content">
        <div class="settings-list">
          <div class="setting">
            <input type="checkbox" id="showVisualizationCheckbox">
            <label for="showVisualizationCheckbox">Show Visualization</label>
            <p class="info">
              Show a visual representation of the clicking above the play
              button.
            </p>
          </div>
          <div class="setting">
            <input type="number" id="intervalInput">
            <label for="intervalInput">Interval Time (Milliseconds)</label>
            <p class="info">
              How much time to wait between clicks, in milliseconds. One second
              has 1000 milliseconds in it.
            </p>
          </div>
          <div class="setting">
            <p>
              Click Sound
            </p>
            <div>
              <div>
                <input type="radio" name="clickSound" value="chime" id="chimeClickSoundRadio">
                <label for="chimeClickSoundRadio">Chime</label>
              </div>
              <div>
                <input type="radio" name="clickSound" value="another" id="anotherClickSoundRadio">
                <label for="anotherClickSoundRadio">Another</label>
              </div>
            </div>
            <p class="info">
              What sound to play as the "click" noise.
            </p>
          </div>
        </div>
        <div class="actions">
          <button value="cancel">Cancel</button>
          <button value="default">Save</button>
        </div>
      </form>
    </dialog>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/js/site.js"></script>
  </body>
</html>
