<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{{ siteTitle }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>{{{ static.css }}}</style>
    <script>{{{ static.js }}}</script>
  </head>
  <body>
    <main>
      <h1 class="site-title">Bilateral Stimulation</h1>
      {{> parts/visualizer }}
      <button id="playButton" class="play-button">
        <span class="icon material-icons reset play" aria-hidden="true">
          play_circle_filled
        </span>
        Play
      </button>
      <div class="settings-button-container">
        <button id="settingsButton" class="settings-button">
          <span class="icon material-icons reset" aria-hidden="true">
            settings
          </span>
          Settings
        </button>
      </div>
      {{> parts/site-info }}
    </main>
    {{> parts/settings-dialog }}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/js/site.js"></script>
  </body>
</html>
