<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{{ siteTitle }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>{{{ static.css }}}</style>
    <script>{{{ static.js }}}</script>
  </head>
  <body>
    <main>
      <h1 class="site-title">EMDR Clicker</h1>
      <button id="playButton" class="play-button">
        <span class="icon material-icons reset" aria-hidden="true">
          play_circle_filled
        </span>
        Play
      </button>
      <div class="settings-button-container">
        <button id="settingsButton" class="settings-button">
          <span class="icon material-icons reset" aria-hidden="true">
            settings
          </span>
          Settings
        </button>
      </div>
      <div class="site-info">
        <p class="main-info reset">
          Provides stereo clicking for
          <a
              href="https://en.wikipedia.org/wiki/Eye_movement_desensitization_and_reprocessing"
              target="_blank"
              rel="noopener">
            EMDR therapy</a>.
        </p>
        <p class="code-link reset">
          Source Code:
          <a
              href="https://github.com/ava-cassiopeia/emdr-clicker"
              target="_blank"
              rel="noopener">
            @ava-cassiopeia/emdr-clicker
          </a>
        </p>
        <p class="author-note reset">
          Made with <span aria-label="love">💜</span> by Ava
        </p>
      </div>
    </main>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/js/site.js"></script>
  </body>
</html>
