<div class="site-info">
  <p class="main-info reset">
    Provides
    <a
        href="https://en.wikipedia.org/wiki/Bilateral_sound"
        target="_blank"
        rel="noopener">
      bilateral stimulation</a>
    for
    <a
        href="https://en.wikipedia.org/wiki/Eye_movement_desensitization_and_reprocessing"
        target="_blank"
        rel="noopener">
      EMDR therapy</a>.
  </p>
  <p class="code-link reset">
    Source Code:
    <a
        href="https://github.com/ava-cassiopeia/emdr-clicker"
        target="_blank"
        rel="noopener">
      @ava-cassiopeia/emdr-clicker
    </a>
  </p>
  <p class="author-note reset">
    Made with <span aria-label="love">💜</span> by Ava
  </p>
</div>
