.play-button {
  padding: 28px 40px;
  margin: 0 0 40px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid var(--theme-primary);
  color: var(--theme-primary);
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-family: inherit;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
              0 10px 10px rgba(0,0,0,0.22);

  &:hover {
    background: var(--theme-primary);
    color: var(--theme-primary-compliment);
  }

  &:focus {
    border: 2px solid #999;
  }

  .icon {
    margin: 0 8px 0 0;

    &.play {
      color: var(--play-button-play-icon-color);
    }

    &.stop {
      color: var(--play-button-stop-icon-color);
    }
  }
}
