.settings-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  align-items: center;
  justify-content: center;

  &[open] {
    display: flex;
  }

  .underlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
  }

  .dialog-content {
    position: relative;
    background: var(--content-bg);
    z-index: 2;
  }
}
