:root {
  // Primary theme config
  --theme-font: "Quicksand", sans-serif;
  --theme-primary: #000;
  --theme-primary-compliment: #fff;
  --content-bg: #fff;
  --text-color: #000;
  --link-color: blue;
  --visited-link-color: purple;
  // Play button
  --play-button-play-icon-color: green;
  --play-button-stop-icon-color: red;
  // Visualizer
  --direction-indicator-color: var(--theme-primary);
  --sound-tracker-color: var(--theme-primary);
  // Settings icons
  --dark-mode-icon-color: #8e24aa;
  --light-mode-icon-color: #fb8c00;
  --folow-system-icon-color: #1e88e5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-primary: #fff;
    --theme-primary-compliment: #000;
    --content-bg: #000;
    --text-color: #fff;
    --link-color: #64b5f6;
    --visited-link-color: #ba68c8;
  }
}
