@import "reset";
@import "parts/site-title";
@import "parts/site-info";
@import "parts/play-button";
@import "parts/settings";
@import "parts/visualizer";
@import "parts/settings-dialog";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 80px 35px;
  text-align: center;
}
